@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap" ); 
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Babylonica', cursive;
}
body{
    background-color: brown;
}
.main-footer{
    padding: 120px 0 0;
    background: linear-gradient(-30deg,#bdb76b,#4169e1);
}
.main-footer .container{
    display: flex;
    width: 1200px;
    margin: auto;
}
.footer-item{
    width: 0;
    flex-grow: 1;
    margin: 0 10px;
}
.footer-item h4{
    font-size: 25px;
    color: darkseagreen;
    border-bottom: 2px dotted mediumspringgreen; 
    margin-bottom: .4em;
    padding-bottom: .4em;
}
.footer-item nav{
    display: flex;
    flex-direction: column;
}
.footer-item nav a{
    color:white;
    line-height: 1.1;
    text-decoration: none;
    padding: 4px 0;

}
.footer-item nav a:hover{
    color: aqua;
}
.footer-subs{
    display: flex;
    flex-direction: column;
}
.footer-subs form {
    display: flex;
    width: 100%;
    margin: auto 0px;
}
.footer-subs input[type="text"],
.footer-subs input[type="submit"]{
    border: none;
    padding: 5px 10px;
}
.footer-subs input[type="text"]{
    width: 0;
    flex-grow: 1;
}
.footer-subs input[type="submit"]{
    color: azure;
    background-color: darkblue;
}

.conpyright{
    width: 100%;
    text-align: center;
    margin: 110px 0 0;
    padding: 10px 0;
    background-color: dimgrey;
    color: aliceblue;

}