@import url("https：//fonts.googleapis.com/css2？family=Lato：ital，wght@1，300&display=swap");
html,body{
    height: 100%;
}
body{
    display:flex;
    align-items: center;
    background-image:linear-gradient(100deg,#e6e6fa,#ff0000);
}
.table{
    width: 800px;
    margin: auto;
}
.table table{
    width: 100%;
    border: 3px double brown;
    background: white;
    border-radius: 10px;
}
.table thead{
    background: tomato;
    color: firebrick;
}
.table thead th:first-child{
    border-radius: 5px 0 0 0;
}
.table tbody th:last-child{
    border-radius: 0 5px 0 5px;
}
.table tfoot tr:nth-child(even){
    background-color: blue;
}
.table tbody a{
    color:lawngreen;
}
.table tbody tr:hover{
    background-color: crimson;
}
.table tfoot td:first-child{
    border-radius: 0 0 0 5px;
}
.table tfoot td:last-child{
    border-radius: 0 0 5px 0;
}
.table th{
    border:1px solid black;
    padding: 6px 10px;
    font-family: 'Lato', sans-serif;
}
.table td{
    border:1px solid black;
    padding: 6px 10px;
    font-family: 'Lato', sans-serif;
}
.table caption{
    caption-side: bottom;
    text-align: right;
    padding: 10px 0;
    color: chartreuse;
}
.table caption a{
    color:cadetblue ;
}
